#main_menu {
    display: none;
}

.main_menu { 
    position: absolute;
    right: 30px;
    top: 120px;
    padding: 10px;
    background-color: var(--color-gray);
}
.main_menu li { 
    padding-bottom: 15px;
}
.main_menu li a { 
    text-align: right;
}
